/* -------------footer------------ */

#footer_section{
    display: flex;
    min-width: 100%;
}

footer{
    display: flex;
    flex: 0 1 100%;
    background-color: rgb(64 64 64);
    position: relative;
    /* width: 100%; */
    flex-direction: column;
    flex-wrap: nowrap;
}

.footer__top{
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between;
}

.footer__top_h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin: 25px 33px 10px 12px;
    line-height: 25px;
/* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.footer__top_h3::before{
    content: "";
    position: absolute;
    margin-left: -1%;
    width: 3px;
    height: 28px;
    background: #BB0D1E;
    border-radius: 2px;
}

.footer_middle{
    flex: 0 1 100%;
    /* width: 1110px; */
    height: 65px;
    margin: 10px 0 10px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 48px;
/* or 137% */
    display: flex;
    align-items: center;
    justify-content: center;

/* Gray 4 */
    color: #BDBDBD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.footer__top_item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-left: 14px;
/* identical to box height */

    display: flex;
    align-items: flex-start;

/* bg-item */

    color: var(--color-item-stroke);
    flex-direction: column;
}

.footer__top_item h4{
    margin-bottom: 10px;
}


.footer__bot_watch-store{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
/* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 14px;
    height: 48px;
    color: #FFFFFF;
}


/* .footer__backgraund{ */
    /* position: absolute; */
    /* height: 100%;
    left: -200%;
    bottom: 0%;
    width: 400%;
    z-index: -100;
    background-color: #404040;
} */

@media(max-width:1081px){


}

@media(max-width:970px){
    .footer__top_h3{
        font-size: 24px;
    }


}

@media(max-width:850px){
    #footer_section{
        max-width: 550px
    
    }

    .footer__creen-min{
        display: none;
    }


}
@media(max-width:600px){
   .footer_section{
       max-width: none;
    }
    
}

@media(max-width:353px){
    .footer__top{
        flex-direction: column;
    }
}